*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:hsl(217, 54%, 11%);
}

.container{
    margin-left:670px ;
    margin-top: 90px;
}
.second-container{
    height: 750px;
    width: 500px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 9px;
    padding: 10px 45px;
}
.text{
    color: #FFFFFF;  
}

img{
    border-radius: 9px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.h1-text{
    margin-bottom: 15px;
}

.text-two{
    color: hsl(215, 51%, 70%);
    margin-bottom: 10px;
    line-height: 1.5rem;
    font-size: 20px;
}
.eth{
    margin-top: 20px;
    color: hsl(178, 100%, 50%);
}

.day{
  margin-left: 250px;
  margin-bottom: 30px;
}

